:root {
  --sedan-color: hsl(31, 77%, 52%);
  --suv-color: hsl(184, 100%, 22%);
  --luxury-color: hsl(179, 100%, 13%);
  --paragraph-color: hsla(0, 0%, 100%, 0.75);
  --secondary-color: hsl(0, 0%, 95%);

  font-size: 62.5%; /* translates to 10px -> 1rem = 10px */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit; /* box-sizing is not inherited by default */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.wrapper {
  min-height: 100vh;
  width: 100vw;
  /* min-height + fixed width for vertical scrolling only */
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden; /* necessary for border-radius to show */
}

.card {
  max-width: 32.7rem;
  padding: 4.8rem;
}

.card--sedan {
  background-color: var(--sedan-color);
}

.card--suv {
  background-color: var(--suv-color);
}

.card--luxury {
  background-color: var(--luxury-color);
}

.card__image {
  width: 6.4rem;
  height: 4rem;
}

.card__image--sedan {
  background: url(images/icon-sedans.svg) no-repeat center center/cover;
}

.card__image--suv {
  background: url(images/icon-suvs.svg) no-repeat center center/cover;
}

.card__image--luxury {
  background: url(images/icon-luxury.svg) no-repeat center center/cover;
}

.card__heading {
  color: var(--secondary-color);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 4rem;
  text-transform: uppercase;
  margin: 3.5rem 0 0 0;
}

.card__paragraph {
  color: var(--paragraph-color);
  font-family: 'Lexend Deca', sans-serif;
  line-height: 2.5rem;
  margin: 2.5rem 0;
}

.card__button {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 25px;
  font-family: 'Lexend Deca', sans-serif;
  line-height: 2.5rem;
  height: 4.8rem;
  width: 14.6rem;
}

.card__button:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.card__button--sedan {
  color: var(--sedan-color);
}

.card__button--sedan:hover {
  background-color: var(--sedan-color);
}

.card__button--suv {
  color: var(--suv-color);
}

.card__button--suv:hover {
  background-color: var(--suv-color);
}

.card__button--luxury {
  color: var(--luxury-color);
}

.card__button--luxury:hover {
  background-color: var(--luxury-color);
}

@media screen and (min-width: 48em) {
  /*  Wider cards for tablets.
      em because rem causes bugs in safari when font-size is
      changed in html, and px causes the breakpoint to remain the
      same when users change font-size in their browser. */

  .card {
    max-width: 50rem;
  }

  .card__paragraph {
    margin: 2.5rem 0 5rem 0;
  }
}

@media screen and (min-width: 60em) {
  /*  em because rem causes bugs in safari when font-size is
      changed in html, and px causes the breakpoint to remain the
      same when users change font-size in their browser.
      60 because 60*16 = 960 and width of container in desktop
      mode is 919px (at font size medium). */

  .container {
    flex-direction: row;
  }

  .card {
    max-width: 30.7rem;
  }

  .card__paragraph {
    margin: 2.5rem 0 8.3rem 0;
  }
}
